#map { height: 100vh; }
.search-bar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.popup-content img.popup-image {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
}

